#register-done.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(8, 0, 24, 0.95); /* Black w/ opacity */
  overflow: hidden;
}

/* Modal Content/Box */
#register-done.modal .modal-content {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-done.modal.display-block {
  display: flex;
}

#register-done.modal.display-none {
  display: none;
}

#register-done.modal .modal-content svg {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

#register-done.modal .modal-content h1 {
  color: #fff;
}
