#point-card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  transition: 0.3s;
}

#point-card img {
  width: 320px;
  height: 240px;
  border-radius: 8px 8px 0 0;
}

/* On mouse-over, add a deeper shadow */
#point-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
#point-card .container {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#point-card .container h1 {
  padding: 8px 0;
}

#point-card .container p {
  padding: 8px 0 16px 0;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}

#point-card .container span {
  line-height: 1.5;
}

#point-card .container strong {
  display: inline-block;
  padding: 8px 0;
  cursor: pointer;
  color: var(--title-color);
}

#point-card .action-buttons {
  border-radius: 0 0 8px 8px;

  padding: 8px 0;
  background-color: #e5e4e2;
}

#point-card .action-buttons div {
  display: inline-block;
  border-radius: 50%;
  margin: 0px 2px;
  padding: 8px;
  cursor: pointer;
}

#point-card .action-buttons div:hover {
  background-color: rgb(201, 201, 201);
}

#point-card .action-buttons svg {
  height: 24px;
  width: 24px;
  color: var(--title-color);
}
