header {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;

  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a,
header p {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;

  cursor: pointer;
}

header a svg,
header p svg {
  margin-right: 16px;
  color: var(--primary-color);

  cursor: pointer;
}
