#page-list-points {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-list-points header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-list-points header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-list-points header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-list-points main {
  margin-top: 80px;
}

#page-list-points main > p {
  margin-bottom: 40px;
}

#page-list-points main .points {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-between;
}

@media only screen and (max-width: 960px) {
  #page-list-points main .points {
    justify-content: space-around;
  }
}

#page-list-points main .points > div {
  margin-bottom: 32px;
}
